<%- include("../partials/header") %>

	<div class="container">
		<p>
			<div class="ui grid">
				<% games.forEach(function(game){ %>
					<div class="four wide column">
						<h1 class="index"><a class="clickable white" href="/games/<%= game._id %>"><%= game.name %></a></h1>
						<!-- <img class="index" src="<%= game.image %>"> -->
						<!-- <i class="heart outline icon favourite clickable"></i> -->
						<div class="img index" id="a<%= game._id  %>">
							<style>
								#a<%= game._id  %>{background-image: url("<%= game.image %>");}
							</style>
						</div>
						<% if(currentUser && currentUser.auth_level === "admin"){ %>
							<span class="clickable white delete-button" object-action="/games/<%= game._id %>/delete?_method=DELETE" object-name="<%= game.name %>"><i class="x icon"></i><strong>REMOVE GAME</strong></span>
							<a href="/games/<%= game._id %>/edit" class="clickable white edit-game"><i class="pencil alternate icon "></i><strong>EDIT GAME</strong></a>
						<% } %>
					</div>
				<% }); %>
			</div>
		</p>
	</div>

<%- include("../partials/footer") %>