<%- include("../partials/header") %>

	<div class="popup-container">
		<div class="popup-window">
			<form class="delete-form" action="/games" method="POST">
				<h1>Are you sure you want to delete <span class="delete-object-name"></span></h1>
				<button class="ui red button confirm-delete-button">Delete</button> <span class="close-popup ui gray button">Cancel</span>
			</form>
		</div>
	</div>

	<div class="container">
		<p>
			<div class="ui grid">
				<% games.forEach(function(game){ %>
					<div class="four wide column">
						<h1 class="index"><%= game.name %></h1>
						<!-- <img class="index" src="<%= game.image %>"> -->
						<div class="img index" id="a<%= game._id  %>">
							<style>
								#a<%= game._id  %>{background-image: url("<%= game.image %>");}
							</style>
						</div>
						<% if(currentUser && currentUser.auth_level === "admin"){ %>
							<span class="clickable white delete-button" object-action="/games/<%= game._id %>/delete?_method=DELETE" object-name="<%= game.name %>"><i class="x icon"></i><strong>REMOVE GAME</strong></span>
							<a href="/games/<%= game._id %>/edit" class="clickable white edit-game"><i class="pencil alternate icon "></i><strong>EDIT GAME</strong></a>
						<% } %>
					</div>
				<% }); %>
			</div>
		</p>
	</div>

<%- include("../partials/footer") %>