<%- include("../partials/header") %>
	<div class="popup-container image-preview">
		<div class="popup-window image-preview">
			<!-- <h1>Image preview</h1> -->
			<br>
			<span class="close-popup ui black button">Close</span>
		</div>
	</div>

	<h1>NEW GAME</h1>

	<div class="container">

		<form action="/games" method="POST">
			<span class="name-container">
				<span class="question-mark" name="name">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="name">
					The game's name, will appear in title
				</span> 
				<label name="name">Name:</label> 
				<input type="text" placeholder="name" name="name" required>
			</span>
			<br>
			<span class="image-container">
				<span class="question-mark" name="image">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="image">
					Image for game, can be URL or path
				</span> 
				<label name="image">Image:</label> 
				<input type="text" placeholder="image url/path" name="image">
			</span>
			<span class="upload-container">
				<span class="question-mark" name="upload">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="upload">
					If the image is URL, check this to upload the image to the server
				</span> 
				<label name="upload">Upload?</label> 
				<input type="checkbox" name="upload"> 
				<span class="open-popup mini compact circular ui black button" name="image">
					Preview
				</span>
			</span>
			<br>
			<span class="minPlayers-container">
				<span class="question-mark" name="minPlayers">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="minPlayers">
					Minimum amount of players for the game
				</span> 
				<label name="minPlayers">Minimum players:</label> 
				<input type="number" name="minPlayers"> 
			</span>
			<span class="maxPlayers-container">
				<span class="question-mark" name="maxPlayers">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="maxPlayers">
					Maximum amount of players for the game
				</span> 
				<label name="maxPlayers">Maximum players:</label> 
				<input type="number" name="maxPlayers">
			</span>
			<br>
			<span class="winCondition-container">
				<span class="question-mark" name="winCondition">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="winCondition">
					The game's win condition
				</span> 
				<label name="winCondition">Win condition:</label>
				<select class="" name="winCondition">
					<% winConditions.forEach(function(condition){ %>
						<option value="<%= condition %>"><%= condition %></option>
					<% }) %>
				</select>
			</span>
			<br>
			<span class="tieBreaker-container">
				<span class="question-mark" name="tieBreaker">
					<i class="question icon"></i>
				</span>
				<span class="explanation" name="tieBreaker">
					The game's tie breaker
				</span> 
				<label name="tieBreaker">Tie breaker:</label> 
				<input type="text" placeholder="tie breaker" name="tieBreaker" required>
			</span>
			<br>
			
			<h1>Fields</h1>
			<span class="clickable white add-field"><i class="plus circle icon"></i> Add field</span>
			<div id="field-template" class="field-template template">
				<div class="five wide column">
					<div class="center">
						<span class="remove-field clickable white" value="0">REMOVE</span> //
						<span class="clear-field clickable white">CLEAR</span>
					</div>
					<div class="field">
						<!-- DESC: ID // PLAYER: NAME -->
						<span class="fieldName-container">
							<span class="question-mark" name="fieldName">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldName">
								ID of desc cell and name of players cell
							</span> 
							<label name="fieldName">Name:</label> 
							<input class="field-input" type="text" name="fieldName" placeholder="field name">
						</span>
						<br>
						
						<!-- DESC: alt // PLAYER: value -->
						<span class="fieldValue-container">
							<span class="question-mark" name="fieldValue">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldValue">
								For calculation, this will be multiplied by the input
							</span> 
							<label name="fieldValue">Value:</label> 
							<input class="field-input" type="number" name="fieldValue">
						</span>
						<br>
						
						<!-- DESC: actual text -->
						<span class="fieldTitle-container">
							<span class="question-mark" name="fieldTitle">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldTitle">
								Will appear in desc cell
							</span> 
							<label name="fieldTitle">Title:</label> 
							<input class="field-input" type="text" name="fieldTitle" placeholder="field title">
						</span>
						<br>
						
						<!-- DESC: displayed icon -->
						<span class="fieldIcon-container">
							<span class="question-mark" name="fieldIcon">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldIcon">
								Icon to display in desc cell, can be URL or path
							</span> <label name="fieldIcon">Icon:</label> 
							<input class="field-input" type="text" placeholder="icon url/path" name="fieldIcon">
						</span>
						<span class="fieldUpload-container">
							 <span class="question-mark" name="fieldUpload">
								 <i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldUpload">
								If the icon is from URL, you can check this to upload it to the server
							</span> 
							<label name="fieldUpload">Upload?</label> 
							<input class="field-input" type="checkbox" name="fieldUpload">
						</span>
						<br>
						
						<!-- DESC: hover content -->
						<span class="fieldDescription-container">
							<span class="question-mark" name="fieldDescription">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldDescription">
								Description that will be displayed when hovering over the field
							</span> 
							<label name="fieldDescription">Field description:</label> 
							<input class="field-input" type="text" name="fieldDescription" placeholder="field description">
						</span>
						<br>
						
						<!-- DESC: css classes -->
						<span class="fieldDescClasses-container">
							<span class="question-mark" name="fieldDescClasses">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldDescClasses">
								css classes to add to desc cell
							</span> 
							<label name="fieldDescClasses">Desc classes:</label> 
							<input class="field-input" type="text" name="fieldDescClasses" placeholder="field desc classes">
						</span>
						<br>
						
						<!-- PLAYER: css classes -->
						<span class="fieldPlayerClasses-container">
							<span class="question-mark" name="fieldPlayerClasses">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldPlayerClasses">
								css classes to add to players cells
							</span> 
							<label name="fieldPlayerClasses">Player classes:</label> 
							<input class="field-input" type="text" name="fieldPlayerClasses" placeholder="field player classes">
						</span>
						<br>
						
						<!-- DESC: class // PLAYER: class -->
						<span class="fieldCalcMethod-container">
							<span class="question-mark" name="fieldCalcMethod">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldCalcMethod">
								Calculation type, reg is simple multiply of value * input
							</span> 
							<label name="fieldCalcMethod">Calculation Method:</label> 
							<select class="field-input fieldCalcMethod" name="fieldCalcMethod">
								<% calcMethods.forEach(function(method){ %>
									<option value="<%= method %>"><%= method %></option>
								<% }) %>
							</select>
						</span>
						<br>
						
						<!-- PLAYER: form type -->
						<!-- <span class="fieldFormType-container">
							<span class="question-mark" name="fieldFormType">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldFormType">
								Input type of the cell
							</span> 
							<label name="fieldFormType">Form type:</label> 
							<select class="field-input" name="fieldFormType">
								<% formTypes.forEach(function(formType){ %>
									<option value="<%= formType %>"><%= formType %></option>
								<% }) %>
							</select>
						</span>
						<br> -->
						
						<!-- DESC: class // PLAYER: class -->
						<span class="fieldScoreTotal-container">
							<span class="question-mark" name="fieldScoreTotal">
								<i class="question icon"></i>
							</span>
							<span class="explanation" name="fieldScoreTotal">
								If checked, this cell will be added to the total score of the player
							</span> 
							<label name="fieldScoreTotal">Score total?</label> 
							<input class="field-input" type="checkbox" name="fieldScoreTotal" checked>
						</span>
					</div>
				</div>
			</div>
			
			<div id="sets-template" class="template">
				<!-- DESC: alt // PLAYER: sets value -->
				<span class="fieldSetsValue-container">
					<br>
					<span class="question-mark" name="fieldSetsValue">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldSetsValue">
						For calculation, this will be multiplied by the input/value
					</span> 
					<label name="fieldSetsValue">Sets Value:</label> 
					<input class="field-input" type="number" name="fieldSetsValue">
				</span>
			</div>
			
			<div id="generalCheckbox-template" class="template">
				<!-- A checkbox will appear above players table -->
				<span class="fieldGeneralCheckbox-container">
					<br>
					<span class="question-mark" name="fieldGeneralCheckbox">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldGeneralCheckbox">
						The functionality of the general checkbox
					</span> 
					<label name="fieldgeneralCheckbox">Functionality:</label> 
					<select class="field-input generalCheckboxFunctionality" name="fieldGeneralCheckboxFunctionality">
						<% generalCheckboxFunctionalities.forEach(function(functionality){ %>
							<option value="<%= functionality %>"><%= functionality %></option>
						<% }) %>
					</select>
				</span>
			</div>
			
			<div id="addClass-template" class="template">
				<!-- Classes to be removed to playes cells -->
				<span class="fieldRemoveClass-container">
					<br>
					<span class="question-mark" name="fieldRemoveClass">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldRemoveClass">
						Removes a class(es) to specific field(s). If you want to add more than one class, separate it with a space.
					</span> 
					<label name="fieldRemoveClass">Class(es) to remove:</label> 
					<input class="field-input" type="text" name="fieldRemoveClass">
				</span>
				<!-- Classes to be added to playes cells -->
				<span class="fieldAddClass-container">
					<br>
					<span class="question-mark" name="fieldAddClass">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldAddClass">
						Adds a class(es) to specific field(s). If you want to add more than one class, separate it with a space.
					</span> 
					<label name="fieldAddClass">Class(es) to add:</label> 
					<input class="field-input" type="text" name="fieldAddClass">
				</span>
				<!-- Fields to which the classes will be added -->
				<span class="fieldAddFields-container">
					<br>
					<span class="question-mark" name="fieldAddFields">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldAddFields">
						Adds a class(es) to specific field(s). If you want the class(es) to more than one field, separate it with a space.
					</span> 
					<label name="fieldAddFields">Field(s) to add:</label> 
					<input class="field-input" type="text" name="fieldAddFields">
				</span>
			</div>
			
			<div id="multipleFields-template" class="template">
				<!-- DESC: class // PLAYER: class -->
				<span class="fieldMultipleFieldsMethod-container">
					<br>
					<span class="question-mark" name="fieldMultipleFieldsMethod">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldMultipleFieldsMethod">
						Calculates value based on other fields
					</span> 
					<label name="fieldMultipleFieldsMethod">Multiple calc method:</label> 
					<select class="field-input fieldMultipleFieldsMethod" name="fieldMultipleFieldsMethod">
					<% calcMethods.forEach(function(method){ %>
						<% if(method == "general-checkbox" || method === "multiple-fields"){ %>
							<% return %>
						<% } else { %>
							<option value="<%= method %>"><%= method %></option>
						<% } %>
					<% }) %>
						<option value="multiply">multiply</option>
					</select>
				</span>
				
				<!-- Fields relevant to calculation -->
				<span class="fieldMultipleFieldsRelevantFields-container">
					<br>
					<span class="question-mark" name="fieldMultipleFieldsRelevantFields">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldMultipleFieldsRelevantFields">
						All fields which should be added together for calculation, seperated by space.
					</span> 
					<label name="fieldMultipleFieldsRelevantFields">Fields to add:</label> 
					<input class="field-input" type="text" name="fieldMultipleFieldsRelevantFields">
				</span>
			</div>

			<div id="fieldMultipleFieldsSets-template" class="template">
				<!-- DESC: alt // PLAYER: sets value -->
				<span class="fieldMultipleFieldsSets-container">
					<br>
					<span class="question-mark" name="fieldMultipleFieldsSets">
						<i class="question icon"></i>
					</span>
					<span class="explanation" name="fieldMultipleFieldsSets">
						For calculation, this will be multiplied by the input/value
					</span> 
					<label name="fieldMultipleFieldsSets">Sets Value:</label> 
					<input class="field-input" type="number" name="fieldMultipleFieldsSets">
				</span>
			</div>
			
			<div id="fields-container" class="fields-container ui grid initialize">

			</div>
			<input id="fields-count" type="number" value="0" class="hidden" name="count">
			<input id="fields-skip" type="text" value="" class="hidden" name="skip">
			<input type="submit" value="Add game">
		</form>
	</div>	

	<script type="text/javascript" src="/js/add-game.js"></script>
<%- include("../partials/footer") %>