<%- include("../partials/header") %>
	<div class="container">
		<!-- <img class="title" src="<%= game.image %>"> -->
		<div class="img title banner">
			<style>
				.banner{
					background-image: url(<%= game.image %>);
				}
			</style>
			<h1 class="center"><%= game.name %> Score Calculator!</h1>
			<h3 class="center"><%= game.minPlayers %> to <%= game.maxPlayers %> players</h3>
		</div>
		
		<% if(currentUser && currentUser.auth_level === "admin"){ %>
			<div class="center">
				<span class="clickable white delete-button" object-action="/games/<%= game._id %>/delete?_method=DELETE" object-name="<%= game.name %>"><i class="x icon"></i><strong>REMOVE GAME</strong></span>
				<a href="/games/<%= game._id %>/edit" class="clickable white edit-game"><i class="pencil alternate icon "></i><strong>EDIT GAME</strong></a>
			</div>
		<% } %>
	</div>

	<!-- <div class="container"> -->
		<div class="games-container">
			
			<!-- <div class="aboveTable-container calc-container container center">
				<span class="clickable autoCalc btn center empty"><span class="autoCalc-status led green"><i class="power off icon"></i></span> Auto calc</span>
				<span class="disabled calculate btn center">Calculate</span>
			</div> -->
			
			<div class="aboveTable-container calc-container container center">
				<span class="clickable addPlayer btn center"><i class="user plus icon"></i></span>
				<span class="clickable clearScore btn center">clear</span>
				<span class="clickable autoCalc btn center empty"><span class="autoCalc-status led green"><i class="power off icon"></i></span> Auto calc</span>
				<span class="disabled calculate btn center">Calculate</span>
			</div>
			
			<div class="aboveTable-container container center">
				<% game.fields.forEach(function(field){ %>
				<% if(field.calcMethod === "general-checkbox"){ %>
					<span id="<%= field.name %>" class="scoreParameter aboveTable field-cell general-checkbox <%= field.generalCheckboxFunctionality %> <%= field.classesDesc %>" name="<%= field.name %>">
						<%= field.title %> 
						<% if(field.description){ %>
							<span class="explanation show-page" name="<%= field.name %>">
								<%= field.description %>
							</span> 
						<% } %>
						<input type="<%= field.type %>">
						<% if(field.removeClass){ %>
							<span class="remove-class hidden" name="<% field.name %>"><%= field.removeClass %></span>
						<% } %>
						<% if(field.addClass){ %>
							<span class="add-class hidden" name="<% field.name %>"><%= field.addClass %></span>
						<% } %>
						<% if(field.addFields){ %>
							<span class="add-fields hidden" name="<% field.name %>"><%= field.addFields %></span>
						<% } %>
					</span>
				<% } else if(field.calcMethod === "general-select"){ %>
					<span id="<%= field.name %>" class="scoreParameter aboveTable field-cell general-select <%= field.classesDesc %> <% if(field.hidden){ %> hidden <% } %>" name="<%= field.name %>">
						<%= field.title %>
						<% if(field.description){ %>
							<span class="explanation show-page" name="<%= field.name %>">
								<%= field.description %>
							</span> 
						<% } %>
						<select class="" name="<%= field.name %>">
							<% field.selectOptions.split(" ").forEach(function(option){ %>
								<option value="<%= option %>"><%= option %></option>
							<% }) %>
						</select>								
					</span>
				<% } %>
				<% }); %>
			</div>
			
			
			<% if(game.fields){ %>
				<!-- TEMPLATE TABLE -->
				<div id="template" class="table template">
					<div class="player table">
						<ul>
							<!-- <li class="empty"></li> -->
							<li class="winner-crown empty"><i class="fas fa-crown"></i></li>
							<li class="center" name="playerName"><input type="text" name=""></li>
							<% game.fields.forEach(function(field){ %>
								<% if(field.calcMethod === "general-checkbox" || field.calcMethod === "general-select" ){ return; } %>
								<li class="scoreParameter <%= field.calcMethod %> <%= field.multipleFieldsMethod %> <%= field.reachTargetMethod %> <% if(field.reachTargetOtherFieldGlobal){ %> global <% } else{ %> local <% } %> <% if(field.scoreTotal){ %> scoreTotal <% } %> <%= field.classesPlayer %> <% if(field.hidden){ %> hidden <% } %>" name="<%= field.name %>" value="<%= field.value %>" setsValue="<%= field.setsValue %>"><input type="<%= field.type %>" name=""<% if(field.disabled){ %> disabled <% } %><% if(field.calcMethod === "multiple-fields"){ %> disabled relevant-fields="<%= field.multipleFieldsRelevantFields %>"<% } %><% if(field.calcMethod === "reach-target"){ %> targetsRange="<%= field.reachTargetRange %>" <% if(field.reachTargetOtherField){ %> otherField="<%= field.reachTargetOtherField %>" <% } %><% } %><% if(field.uniqueSetsValue){ %> uniqueSetsValue="<%= field.uniqueSetsValue %>"<% } %><%if(field.uniqueSetsFields){ %>uniqueSetsFields="<%= field.uniqueSetsFields %>"<% }%>>
									
							<% }); %>
							<li class="total center" name="total"></li>
							<li class="deletePlayer center clickable" name="delete"><i class="trash alternate icon"></i></li>
						</ul>
					</div>
				</div>
			
				<!-- DESC TABLE -->
				<div id="desc" class="table">
					<ul>
						<!-- <li class="empty"><span class="clickable addPlayer btn center"><i class="user plus icon"></i></span><span class="clickable clearScore btn center">clear</span></li> -->
						<li class="empty"></li>
						<li class="center">Player</li>
						<% game.fields.forEach(function(field){ %>
							<% if(field.calcMethod === "general-checkbox" || field.calcMethod === "general-select" ){ return; } %>
							<% if(field.description){ %>
								<span class="explanation show-page" name="<%= field.name %>">
									<%= field.description %>
								</span> 
							<% } %>
							<li id="<%= field.name %>" class="field-cell <%= field.calcMethod %> <%=field.reachTargetMethod %> <% if(field.scoreTotal){ %> scoreTotal <% } %> <%= field.classesDesc %> <% if(field.hidden){ %> hidden <% } %>" alt="<%= field.value %>"<% if(field.calcMethod === "reach-target"){ %> targetsRange="<%= field.reachTargetRange %>" <% } %><% if(field.reachTargetOtherField){ %> otherField="<%= field.reachTargetOtherField %>" <% } %>><% if(field.icon){ %> <img src="field.icon"> <% } %> <%= field.title %></li>
						<% }); %>
					</ul>
				</div>
			<% } %>
		</div>
	<!-- </div> -->

	<!-- variables for js -->
<span id="minPlayers" type="number" class="hidden" name="minPlayers"><%= game.minPlayers %></span>
<span id="maxPlayers" type="text" class="hidden" name="maxPlayers"><%= game.maxPlayers %></span>
<span id="winCondition" type="text" class="hidden" name="winCondition"><%= game.winCondition %></span>
<span id="tieBreaker" type="text" class="hidden" name="tieBreaker"><%= game.tieBreaker %></span>

	<script type="text/javascript" src="/js/game.js"></script>
<%- include("../partials/footer") %>