<%- include("../partials/header") %>
	<div class="container">
		<!-- <img class="title" src="<%= game.image %>"> -->
		<div class="img title banner">
			<style>
				.banner{
					background-image: url(<%= game.image %>);
				}
			</style>
			<h1 class="center"><%= game.name %> Score Calculator!</h1>
			<h3 class="center"><%= game.minPlayers %> to <%= game.maxPlayers %> players</h3>
		</div>
		
		<% if(currentUser && currentUser.auth_level === "admin"){ %>
			<div class="center">
				<span class="clickable white delete-button" object-action="/games/<%= game._id %>/delete?_method=DELETE" object-name="<%= game.name %>"><i class="x icon"></i><strong>REMOVE GAME</strong></span>
				<a href="/games/<%= game._id %>/edit" class="clickable white edit-game"><i class="pencil alternate icon "></i><strong>EDIT GAME</strong></a>
			</div>
		<% } %>
	</div>



	<!-- <div class="container"> -->
		<div class="games-container">
			<% if(game.fields){ %>
				<!-- TEMPLATE TABLE -->
				<div id="template" class="table template">
					<div class="player table">
						<ul>
							<li class="empty"></li>
							<li class="center" name="playerName"><input type="text" name=""></li>
							<% game.fields.forEach(function(field){ %>
								<li class="scoreParameter <%= field.calcMethod %> <% if(field.scoreTotal){ %> scoreTotal <% } %> <%= field.classesPlayer %>" name="<%= field.name %>" value="<%= field.value %>" setsValue="<%= field.setsValue %>"><input type="<%= field.type %>" name=""></li>
							<% }); %>
							<li class="total center" name="total"></li>
							<li class="deletePlayer center clickable" name="delete"><i class="trash alternate icon"></i></li>
						</ul>
					</div>
				</div>

				<!-- DESC TABLE -->
				<div id="desc" class="table">
					<ul>
						<li class="empty"><span class="clickable addPlayer btn center"><i class="user plus icon"></i></span><span class="clickable clearScore btn center">clear</span></li>
						<li class="center">Player</li>
						<% game.fields.forEach(function(field){ %>
								<% if(field.description){ %>
									<span class="explanation show-page" name="<%= field.name %>">
										<%= field.description %>
									</span> 
								<% } %>
							<li id="<%= field.name %>" class="field-cell <%= field.calcMethod %> <% if(field.scoreTotal){ %> scoreTotal <% } %> <%= field.classesDesc %>" alt="<%= field.value %>"><% if(field.icon){ %> <img src="field.icon"> <% } %> <%= field.title %></li>
						<% }); %>
					</ul>
				</div>
			<% } %>
		</div>
	<!-- </div> -->

	<!-- variables for js -->
<span id="minPlayers" type="number" class="hidden" name="minPlayers"><%= game.minPlayers %></span>
<span id="maxPlayers" type="text" class="hidden" name="maxPlayers"><%= game.maxPlayers %></span>

	<script type="text/javascript" src="/js/game.js"></script>
<%- include("../partials/footer") %>