<%- include("../partials/header") %>

	<h1>This is the users page :)</h1>
	<div class="container ui grid center">
		<% users.forEach(function(user){ %>
			<div class="three wide column single-user-container center text-center" user_id="<%= user._id %>">
				<strong>username: </strong> <%= user.username %><br>
				<strong>auth level:</strong> <%= user.auth_level %><br>
				
				<a href="/users/<%= user._id %>/edit"><i class="pencil alternate icon clickable edit-user"></i></a>
				<span class="clickable delete-button" object-action="/users/<%= user._id %>/delete?_method=DELETE" object-name="<%= user.username %>"><i class="x icon"></i></span>
			</div>	
		<% }); %>
	</div>

	<script type="text/javascript" src="/js/users.js"></script>
<%- include("../partials/footer") %>